*{
    margin: 0;
    padding: 0;
    font-family: gotham;
}
body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.resetButton{
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    width: 4rem;
    height: 4rem;
    opacity: 1;
    background-image: url("reset.png");
    background-size: 100%;
    cursor: pointer;
}
.resetButton::before,
.resetButton::after{
    --tooltip-color: rgb(65, 65, 65);
}
/*tool tip box*/
.resetButton::before{
    content: attr(data-tooltip);
    text-align: center;
    position: absolute;
    top: -5.25rem;
    left: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    /* TRANSLATE X */
    transform: translateX(-50%) scale(0);
    transform-origin: bottom center;
    transition: all 0.2s;
    color: white;
    background-color: var(--tooltip-color);
}
.resetButton:hover::before,
.resetButton:hover::after{
    transform: translate(-50%) scale(1);
    transition: all 0.2s;
}
/*tool tip arrow below box*/
.resetButton::after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: top center;
    transition: all 0.2s;
    border: 1rem solid transparent;
    border-top: 1rem solid var(--tooltip-color);
}
.grid{
    width: 45rem;
    height: 45rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    font-weight: bold;

}
.grid-item{
    display: flex;
    font-size: 0em;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 15rem;
    user-select: none;
    transition: background-color 0.2s;

}
.grid-item:hover{
    background-color: rgba(128, 128, 128, 0.349);
    transition: background-color 0.2s;
}
.mid-column{
    border-left: 0.75rem solid grey;;
    border-right: 0.75rem solid grey;;
}

.mid-row{
    border-top: 0.75rem solid grey;;
    border-bottom: 0.75rem solid grey;;  
}

.end{
    visibility: hidden;
    position: absolute;
    z-index: 2;
    transform: scale(0);
    width: 30rem;
    height: 10rem;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(17, 17, 17, 0.9);
}
.end input{
    width: auto;
    height: 4rem;
    color: white;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.end input:focus{
    border:none;
}

@media only screen and (max-width: 450px){
    body{
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .buttons{
        position: absolute;
        bottom: 2rem;
        right: 0.5rem;
        height: 3rem;
    }
    .resetButton{
        width: 3rem;
        height: 3rem;
        padding: 1rem;
        opacity: 0.5;
    }

    .grid{
        width: 100%;
        height: 35%;
        margin:0.5rem;
        display: grid;
        grid-template-columns: auto auto auto;
        font-weight: bold;
    
    }
    .grid-item{
        width: 7.5rem;
        height: 7.5rem;
    }
    .grid-item:hover{
        background-color: none;
        transition: none;
    }
    .mid-column{
        border-left: 0.25rem solid grey;;
        border-right: 0.25rem solid grey;;
    }
    
    .mid-row{
        border-top: 0.25rem solid grey;;
        border-bottom: 0.25rem solid grey;;  
    }
    
    .end{
        width: 70vw;
        height: 30vw;
        padding: 2rem;
        font-size: 1.5rem;

    }
    .end input{
        width: auto;
        height: 4rem;
        color: white;
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .end input:focus{
        border:none;
    }
}